<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="assets/logo.png" alt="SignSight Logo" class="logo-img">
      <span class="brand-text">SignSight<small>Research Project</small></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list fs-2"></i>
    </button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="domain.html">Domain</a></li>
        <li class="nav-item"><a class="nav-link" href="milestones.html">Milestones</a></li>
        <li class="nav-item"><a class="nav-link" href="documents.html">Documents</a></li>
        <li class="nav-item"><a class="nav-link" href="presentations.html">Presentations</a></li>
        <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
        <li class="nav-item ms-lg-2"><a class="btn btn-gradient btn-sm" href="contact.html">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>

